<header>
    <div class="navbar-wrapper">
      <nav class="navbar">
        <div class="nav-left">
          <a href="../index.html" class="logo-link" style="display: flex; align-items: center; text-decoration: none;">
            <img src="../assets/images/Green_-Target150.svg" alt="logo" class="logo-img">
          </a>
        </div>
  
        <div class="mobile-toggle" id="mobile-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
  
        <div class="nav-center">
          <ul class="nav-menu">
            <li class="dropdown"><a href="../pages/aboutus.html">About Us</a></li>
            <li class="dropdown">
              <a href="#">Stem Cells Therapy</a>
              <ul class="dropdown-menu">
                <li><a href="../pages/medical.html">Medical</a></li>
                <li><a href="../pages/afs_cells.html">AFS Cells</a></li>
                <li><a href="../pages/cosmehc.html">CosmeHC</a></li>
                <li><a href="../pages/restorative.html">Restorative</a></li>
                <li><a href="../pages/hair_restoration.html">Hair Regeneration</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#">NK Cells</a>
              <ul class="dropdown-menu">
                <li><a href="../pages/nk_cells_therapy.html">NK Cell Therapy</a></li>
                <li><a href="../pages/immunity_test.html">Immunity test</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#">Stem Cells Banking</a>
              <ul class="dropdown-menu">
                <li><a href="../pages/stem_cells_bank.html">Stem Cell Bank</a></li>
                <li><a href="../pages/collection.html">Collection</a></li>
                <li><a href="../pages/our_laboratory.html">Our Laboratory</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#">BIO-LONGEVITY SCREENING</a>
              <ul class="dropdown-menu">
                <li><a href="../pages/immunity_test.html">Immunity test</a></li>
                <li><a href="../pages/hormone_test.html">Hormone test</a></li>
                <li><a href="../pages/vitamin_test.html">Vitamin test</a></li>
                <li><a href="../pages/micronutrient_test.html">Micronutrients test</a></li>
              </ul>
            </li>
          </ul>
  
          <div class="nav-right">
            <button class="contact-outline" onclick="location.href='../pages/contact.html'">Contact Us</button>
          </div>
        </div>
  
<ul class="mobile-nav-menu" id="mobile-nav">
    <li><a href="../pages/aboutus.html">About Us</a></li>
  
    <li class="has-submenu">
      <a href="#">Stem Cells Therapy <span class="arrow"></span></a>
      <ul class="submenu">
        <li><a href="../pages/medical.html">Medical</a></li>
        <li><a href="../pages/afs_cells.html">AFS Cells</a></li>
        <li><a href="../pages/cosmehc.html">Cosmetic</a></li>
        <li><a href="../pages/restorative.html">Restorative</a></li>
        <li><a href="../pages/hair_restoration.html">Hair Regeneration</a></li>
      </ul>
    </li>
  
    <li class="has-submenu">
      <a href="#">NK Cells <span class="arrow"></span></a>
      <ul class="submenu">
        <li><a href="../pages/nk_cells_therapy.html">NK Cell Therapy</a></li>
        <li><a href="../pages/immunity_test.html">Immunity Test</a></li>
      </ul>
    </li>
  
    <li class="has-submenu">
      <a href="#">Stem Cells Banking <span class="arrow"></span></a>
      <ul class="submenu">
        <li><a href="../pages/collection.html">Collection</a></li>
        <li><a href="../pages/stem_cells_bank.html">Stem Cell Bank</a></li>
        <li><a href="../pages/our_laboratory.html">Our Laboratory</a></li>
      </ul>
    </li>
  
    <li class="has-submenu">
      <a href="#">BIO-LONGEVITY SCREENING <span class="arrow"></span></a>
      <ul class="submenu">
        <li><a href="../pages/immunity_test.html">Immunity Test</a></li>
        <li><a href="../pages/hormone_test.html">Hormone Test</a></li>
        <li><a href="../pages/vitamin_test.html">Vitamin Test</a></li>
        <li><a href="../pages/micronutrient_test.html">Micronutrients Test</a></li>
      </ul>
    </li>
  
    <li class="centered">
        <a href="../pages/contact.html" class="contact-mobile-btn">Contact Us</a>
      </li>
      
  </ul>
  
      </nav>
    </div>
  </header>
  